.idea/*
project/*
target/*
FPGA/project/*
FPGA/.idea/*
FPGA/test_run_dir/*
FPGA/target/*
FPGA/soc/chisel_output/*
FPGA/soc/arria10/qdb/*
FPGA/soc/arria10/db/*
FPGA/soc/arria10/output_files/*
FPGA/soc/arria10/incremental_db/*
FPGA/soc/arria10/.qsys_edit/
FPGA/soc/arria10/soc_system/*
FPGA/soc/arria10/soc_system.sopcinfo
FPGA/soc/arria10/hps_isw_handoff/*
*.csv
*.txt
*.swp
*.bak
*.qws
HPS/main.o
HPS/posit
