.idea/*
project/*
target/*
fpga/project/*
fpga/.idea/*
fpga/test_run_dir/*
fpga/target/*
fpga/soc/chisel_output/*
fpga/soc/arria10/qdb/*
fpga/soc/arria10/db/*
fpga/soc/arria10/output_files/*
fpga/soc/arria10/incremental_db/*
fpga/soc/arria10/.qsys_edit/
fpga/soc/arria10/soc_system/*
fpga/soc/arria10/soc_system.sopcinfo
fpga/soc/arria10/hps_isw_handoff/*
*.csv
*.txt
*.swp
*.bak
*.qws
test_run_dir/

hps/main.o
hps/posit

softposit/main
